extends ../layout

block content
  h1 Photos
  p Express stock photo application
  
  #photos
    - photos.forEach(function(photo) {
      .photo
        h2= photo.name
        a(href="/photo/#{photo.id}/download")
          img(src="/photos/#{photo.path}")
    - })

  #links
    a(href="/upload"): button Uploads
